Installation: pip install sqlalchemy

The following python code elimilated unwanted columns, trimed white spaces, transfered and splited colum values into the desired form, and most importantly converted all data into the most storage efficient datatypes. Final products are 'TNPFL#.csv' files.

In [1]:

import numpy as np
import pandas as pd

In [ ]:
#Chunking the original data set into smaller csvs TNP#.csv
chunk_size=40000000
batch_no=1
for chunk in pd.read_csv('Transportation_Network_Providers_-_Trips.csv', chunksize=chunk_size):
    chunk.to_csv('TNP'+str(batch_no)+'.csv',index=False)
    batch_no +=1

In [19]:
df=pd.read_csv('TNP4.csv')

#df_c = pd.read_csv('Transportation_Network_Providers_-_Trips.csv', chunksize=1000)
#df = df_c.get_chunk(1000)

In [20]:
df.columns

Index(['Trip ID', 'Trip Start Timestamp', 'Trip End Timestamp', 'Trip Seconds',
       'Trip Miles', 'Pickup Census Tract', 'Dropoff Census Tract',
       'Pickup Community Area', 'Dropoff Community Area', 'Fare', 'Tip',
       'Additional Charges', 'Trip Total', 'Shared Trip Authorized',
       'Trips Pooled', 'Pickup Centroid Latitude', 'Pickup Centroid Longitude',
       'Pickup Centroid Location', 'Dropoff Centroid Latitude',
       'Dropoff Centroid Longitude', 'Dropoff Centroid Location'],
      dtype='object')

In [21]:
df.rename(columns = {'Trip Start Timestamp':'DT'}, inplace=True)

In [22]:
df.rename(columns = {'Trip Miles':'Trip_Miles'}, inplace=True)
df.rename(columns = {'Pickup Community Area':'CCA'}, inplace=True)
df.rename(columns = {'Trips Pooled':'Trips_Pooled'}, inplace=True)

In [23]:
df = df[['DT','Trip_Miles','CCA','Tip','Trips_Pooled']]

In [24]:
df.head()

                       DT  Trip_Miles   CCA  Tip  Trips_Pooled
0  07/31/2019 05:15:00 PM        10.0   NaN  0.0             1
1  08/18/2019 01:00:00 AM         2.8  24.0  2.0             1
2  08/17/2019 06:45:00 PM         1.3  32.0  5.0             1
3  07/08/2019 03:45:00 PM         1.2  71.0  0.0             1
4  08/23/2019 06:15:00 PM         3.3   6.0  0.0             1

In [25]:
df['Date']=''
df['Time']=''
df['Date']=df.DT.str.slice(0,10)

In [26]:
df['Time']=df.DT.str.slice(12,22)

In [27]:
df.head()

,DT,Trip_Miles,CCA,Tip,Trips_Pooled,Date,Time
0,07/31/2019 05:15:00 PM,10.0,NaN,0.0,1,07/31/2019,5:15:00 PM
1,08/18/2019 01:00:00 AM,2.8,24.0,2.0,1,08/18/2019,1:00:00 AM
2,08/17/2019 06:45:00 PM,1.3,32.0,5.0,1,08/17/2019,6:45:00 PM
3,07/08/2019 03:45:00 PM,1.2,71.0,0.0,1,07/08/2019,3:45:00 PM
4,08/23/2019 06:15:00 PM,3.3,6.0,0.0,1,08/23/2019,6:15:00 PM

In [28]:
df = df[['Date','Time','Trip_Miles','CCA','Tip','Trips_Pooled']]

In [29]:
df.head()

         Date        Time  Trip_Miles   CCA  Tip  Trips_Pooled
0  07/31/2019  5:15:00 PM        10.0   NaN  0.0             1
1  08/18/2019  1:00:00 AM         2.8  24.0  2.0             1
2  08/17/2019  6:45:00 PM         1.3  32.0  5.0             1
3  07/08/2019  3:45:00 PM         1.2  71.0  0.0             1
4  08/23/2019  6:15:00 PM         3.3   6.0  0.0             1

In [30]:
df = df.fillna(0)

In [31]:
df.CCA=df.CCA.astype(int)

In [32]:
df.Trips_Pooled=df.Trips_Pooled.astype(int)

In [33]:
df.head()

         Date        Time  Trip_Miles  CCA  Tip  Trips_Pooled
0  07/31/2019  5:15:00 PM        10.0    0  0.0             1
1  08/18/2019  1:00:00 AM         2.8   24  2.0             1
2  08/17/2019  6:45:00 PM         1.3   32  5.0             1
3  07/08/2019  3:45:00 PM         1.2   71  0.0             1
4  08/23/2019  6:15:00 PM         3.3    6  0.0             1

In [34]:
df.shape

(8721035, 6)

In [35]:

df.to_csv('TNPFL'+'4'+'.csv',index=False)